article{
    background: #e6f2fa;
  padding: 1 90px;

}
div{
    display: flex;
}
figure {
    margin: 0;
    padding: 11px 32px;
    width: 51vw;
    text-align: center;
}
p {
    line-height: 32px;
    font-size: 1.5em;
}
  
img {
    position: sticky;
    top: 43%;
}

body {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    background-attachment: fixed;
}
body,
html {
  margin: 1;
  height: 100%;
}